<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>screenTransition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69E50B941D1757C700DA51FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69E50BAD1D1757C700DA51FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69E50BB81D1757C700DA51FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
