<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>facebookUI1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6947C8A61DB3147E006BC4B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6947C8BA1DB3147F006BC4B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6947C8C51DB3147F006BC4B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
